<template>
  <div class="home">
    <section class="scene intro">
      <div class="intro__inner">
        <h1 class="intro__title" v-html="$options.filters.split(title)"></h1>
        <p class="intro__subtitle" v-html="$options.filters.split(subtitle)"></p>
        <div class="intro__wrapper">
          <div class="intro__loader">
            <div class="bar"></div>
          </div>
          <button @click="launchExperiment" id="loaderBtn" class="btn">Lancer l'experience</button>
        </div>
      </div>
    </section>
    <section class="scene viewer">
      <canvas id="canvas"></canvas>
    </section>
  </div>
</template>

<script>
import WebGL from 'webgl';
import { TweenMax } from 'gsap';
export default {
  name: 'home',
  data() {
    return {
      tl: {},
      tw: {},
      title: 'Somfy',
      subtitle: 'Maïka',
      webgl: null,
      $canvas: null,
      $titleSpans: [],
      $subTitleSpans: [],
      $loader: null,
      $loaderBar: null,
      $intro: null
    };
  },
  filters: {
    split: value => {
      let string = '';
      let style = '';

      if (value !== ' ') {
        style = 'style="display: inline-block;"';
      }

      value.split('').forEach(letter => {
        style = letter !== ' ' ? 'style="display: inline-block;"' : '';
        string += `<span ${style}>${letter}</span>`;
      });
      return string;
    }
  },
  methods: {
    animateIntro() {
      TweenMax.set(this.$loaderBar, { scaleX: 0 });
      TweenMax.set(this.$loaderBtn, { yPercent: -100, autoAlpha: 0 });

      this.tl.intro = new TimelineMax({
        delay: 0.4,
        onComplete: () => {
          this.webgl.loadModel();
        }
      })
        .staggerFrom(
          this.$titleSpans,
          0.6,
          {
            y: 10,
            autoAlpha: 0,
            ease: Quart.easeOut
          },
          0.1,
          0
        )
        .staggerFrom(
          this.$subTitleSpans,
          0.4,
          {
            y: 4,
            autoAlpha: 0,
            ease: Quart.easeOut
          },
          0.05,
          0.5
        )
        .from(
          this.$loader,
          0.4,
          { autoAlpha: 0, force3D: true, ease: Quad.easeOut },
          '-=0.2'
        );
    },
    onModelsLoad(xhr) {
      const progress = xhr.loaded / xhr.total;
      TweenMax.to(this.$loaderBar, 0.4, {
        scaleX: progress,
        ease: Quart.easeOut
      });
    },
    onModelsLoaded() {
      TweenMax.to(this.$loaderBtn, 0.8, {
        delay: 0.6,
        yPercent: 0,
        autoAlpha: 1,
        force3D: true,
        ease: Quart.easeOut
      });
    },
    launchExperiment(e) {
      e.preventDefault();

      this.tw.hideIntro = TweenMax.to(this.$intro, 1, {
        autoAlpha: 0,
        force3D: true,
        ease: Quad.easeOut,
        onComplete: () => {
          this.webgl.shouldRotate = true;
          this.webgl.showModel();
        }
      });
    }
  },
  mounted() {
    this.$canvas = document.getElementById('canvas');
    this.$titleSpans = document.querySelectorAll('.intro__title span');
    this.$subTitleSpans = document.querySelectorAll('.intro__subtitle span');
    this.$loader = document.querySelector('.intro__loader');
    this.$loaderBar = this.$loader.querySelector('.bar');
    this.$loaderBtn = document.getElementById('loaderBtn');
    this.$intro = document.querySelector('.intro');

    this.webgl = new WebGL({
      canvas: this.$canvas,
      onLoad: this.onModelsLoad,
      onLoaded: this.onModelsLoaded
    });
    this.webgl.init();

    this.animateIntro();
  }
};
</script>

<style lang="scss" scoped>
@import '~styles/settings/_settings.global.scss';
@import '~styles/settings/_settings.easings.scss';
h1 {
  color: $primary-color;
}

.home {
  text-align: center;
  position: relative;
  height: 100vh;
}

.scene {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.intro {
  z-index: 10;
  background-color: $white;
  display: flex;
  // display: none;
  justify-content: center;
  align-items: center;
}

.intro__title {
  margin-top: 0;
  font-size: 48px;
}

.intro__subtitle {
  margin-bottom: 60px;
  font-size: 32px;
}

.intro__wrapper {
  width: 280px;
  margin: 0 auto;
  overflow: hidden;
}

.intro__loader {
  height: 2px;
  position: relative;
  user-select: none;

  .bar {
    position: absolute;
    user-select: none;

    width: 100%;
    height: 100%;
    background-color: $primary-color;
    transform-origin: 0% 50%;
  }
}

.btn {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 18px 20px;
  border: 2px solid $primary-color;
  border-top: 0;
  background: none;
  border-radius: 0;
  position: relative;
  transition: color 0.6s $easeOutQuart;
  font-family: $text-font-stack;
  outline: 0;

  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primary-color;
    z-index: -1;
    transform: scale3d(1, 0, 1);
    transform-origin: 50% 100%;
    transition: transform 0.6s $easeOutQuart;
  }

  &:hover {
    color: $white;
    &:after {
      transform: scale3d(1, 1, 1);
    }
  }
}
</style>


