<template>
  <div class="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'app'
};
</script>

<style src="./styles/app.scss" lang="scss"></style>
<style lang="scss">
@import '~styles/settings/_settings.global.scss';

.app {
  font-family: $text-font-stack;
}
</style>
